

.form{
    margin-left: 20px;
    margin-top: 10px;
}
.passwordBox{
    margin-top: 10px;
}

.loginBox{
    border: solid 1px grey;
    border-radius:3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    height: 500px
    
}
.userLogin{
    flex-grow: 100px;
    width:500px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.loginButtons{
  
    height:300px;
    width:100px;
}

.text{
    border: 1px solid grey;
}